header>nav>dl>dd{
    display: inline;
}
header{
    position: relative;
    padding: 5px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
header>nav{
    position: absolute;
    right: 1%;
    top: 0;
}
main{
    position: relative;
    overflow: auto;
}
main>aside{
    position: absolute;
    background: blueviolet;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20%;
}
main>aside>dl>dd{
    margin-top: 20%;
    margin-left: 25%;
}
main>section>section>div{
    display: inline-block;
    width: calc((100vw - 20vw) / 3);
    height: 40vh;
    background-image: url("https://i.pinimg.com/originals/a1/77/df/a177dfc84703c31afa0d501ccf43fe4f.gif");
    background-position: center;
    background-size: cover;
    border: 1px solid greenyellow;
    box-sizing: border-box;
}
main>section>section{
    position: absolute;
    left: 20%;
    top: 0;
}
main>section>p {
    margin-left: 20.5%;
    margin-top: 22.5%;

}
main > section > section {
    font-size: 0;
}
footer{
    position: relative;
    background: gray;
    bottom: 0;
    height: 5vh;
    text-align: center;
}
footer>span{
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
    margin: auto;

}


